body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
}
#wrap {
	width: 1200px;
	margin: 20px auto;
}
#calendar {
	width: 800px;
	margin-top: 10px;
}
#sidebar {
	width: 380px;
	margin-left: 760px;
}

#form {
	width: 380px;
	/* border: 1px dotted #666; */
	padding: 10px 0;
}
#price {
	margin: 20px 0;
	width:100%;

}
#reserved-days {
	margin-bottom: 20px;
}
#rate-title {

	background-color: #005a68;
	color: #e9eaaf;
	font-size: 14px;
	padding: 4px 6px;
	margin-bottom: 6px;
	border-radius: 2px;
}
#subtotal {
	font-size: 14px;
	border-bottom: 1px dotted #ccc;
	color: #666;
}
#taxes {
	font-size: 14px;
	border-bottom: 1px dotted #ccc;
	color: #666;
}
#total {

	border-bottom: 1px dotted #ccc;
	margin-bottom: 20px;
}
.sum-title {
	display: inline-block;
	width: 280px;
}

#add-guest {
	margin: 10px 0;
}

.top-menu {
	padding: 6px 20px;
	margin: 4px;
	background-color: #1c99af;
	color: #fff;
	border-radius: 2px;
	cursor: pointer;
}
.top-menu:hover {
	background-color: #00798c;
	color: #e3e5e5;
}
.menu-active {
	background-color: #005a68;
	color: #e9eaaf;
}
.year {
	width: 700px;
}
.month {
	width: 217px;
	height: 188px;
	margin: 10px 5px;
	float: left;
	border: 1px solid #666;
	border-radius: 2px;
}
.month-name {
	background-color: #005a68;
	color: #e9eaaf;
	text-align: center;
	font-size: 14px;
	padding: 4px 6px;
}
.week {
	height: 20px;
	width: 100%;
	padding: 2px 0;
	background-color: #ccc;
}
.week + .week {
		border-top: 1px solid #666;
}
.days-title {
	height: 14px;
	width: 100%;
	background-color: #e5e5e5;
}
.weekday-title {
	font-size: 8px;
	float: left;
	text-align: center;
	width: 30px;
	border-bottom: 1px solid #666;
}
.weekday-title + .weekday-title {
	border-left: 1px solid #666;
}

.cell {
	width: 30px;
	height: 100%;
	float: left;
	text-align: center;
}
.cell + .cell {
	border-left: 1px solid #666;
}
.date-available {
	cursor:pointer;
}
.date-available:hover{
	background-color: #a2d2db;
}
.active {
	background-color: #005a68 !important;
	color: #e9eaaf;
}
.date-booked {
	background-color: #bc1c00 !important;
	color: #fff !important;
}
.add-guest {
	cursor:pointer;
}

.reserved-date {
	margin: 2px 1px;
	font-size: 12px;
	padding: 2px 4px;
	min-width: 94px;
	color: #333;
	background-color: #f2f2f2;
	display: inline-block;
	cursor: pointer;
}
.remove-date {
	margin-left: -6px;
}
.btn {
	width: 100%;
	padding: 10px 0;
	margin-top: 20px;
	background-color: #1c99af;
	color: #fff;
	border-radius: 2px;
	cursor: pointer;
	border:0;
	font-size: 18px;
}
.btn:hover {
	background-color: #00798c;
	color: #e3e5e5;
}


/* Colors */
.red {
	color: #c92424;
}
.green {
	color: #53ad27;
}
.weekend {
	background-color: #ffffd1;
}
.highpeak {
	background-color: #ffd1d1;
}
